<div id="container">
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
        >
          <svg
            class="bi me-2"
            width="40"
            height="32"
            role="img"
            aria-label="Bootstrap"
          >
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>

        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        >
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        </ul>

        <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input
              type="search"
              class="form-control form-control-dark"
              placeholder="Search..."
              aria-label="Search"
            />
          </form> -->

        {{#if userIsLoggedIn}}

          <div class="flex-shrink-0 dropdown">
            <a
              href="#"
              class="d-block link-dark text-decoration-none dropdown-toggle"
              id="dropdownUser2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://github.com/mdo.png"
                alt="mdo"
                width="32"
                height="32"
                class="rounded-circle"
              />
            </a>
            <ul
              class="dropdown-menu text-small shadow"
              aria-labelledby="dropdownUser2"
            >
              <li><a class="dropdown-item" href="/profile">Profile</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>

        {{else}}
          <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2">
              Login
            </button>
            <button type="button" class="btn btn-light">Sign-up</button>
          </div>

        {{/if}}
      </div>
    </div>
  </header>

  <!-- ? HEADER AFTER LOGIN -->

  <a href="/create-event">
    <button>Create a new event</button>
  </a>

  <a href="/logout">
    <button>Logout</button>
  </a>

  <a href="/signup">
    <button>Sign up</button>
  </a>

  <a href="/login">
    <button>Login</button>
  </a>

</div>

{{! <div> }}
{{!-- {{#each event}} --}}
{{!-- <a href="events/{{this._id}}"> --}}
{{! <div> }}
{{!-- <h1>{{this.title}}</h1> --}}
{{!-- <img src={{this.eventHeader}} /> --}}
{{!-- <h2>Coin: {{this.coin}}</h2> --}}
{{!-- <p>Description: {{this.description}}</p> --}}
{{!-- <p>Attending: {{this.attendees}}</p> --}}
{{! </a> }}
{{! </div> }}
{{!-- {{/each}} --}}
{{! </div> }}

<div class="center-div">
  {{#each event}}
    <a href="events/{{this._id}}">
      <div class="card mb-2 mt-3 shadow-sm">
        <img src={{this.eventHeader}} class="card-img-top" alt="..." />
        <div class="card-body">
          <h1 class="card-title">{{this.title}}</h1>
          <h6>Coin: {{this.coin}}</h6>
          <p class="card-text" class="text-muted">
            {{this.description}}
          </p>
        </div>
      </div>
    </a>
  {{/each}}

</div>