{{! <div> }}
{{!-- {{#each event}} --}}
{{!-- <a href="events/{{this._id}}"> --}}
{{! <div> }}
{{!-- <h1>{{this.title}}</h1> --}}
{{!-- <img src={{this.eventHeader}} /> --}}
{{!-- <h2>Coin: {{this.coin}}</h2> --}}
{{!-- <p>Description: {{this.description}}</p> --}}
{{!-- <p>Attending: {{this.attendees}}</p> --}}
{{! </a> }}
{{! </div> }}
{{!-- {{/each}} --}}
{{! </div> }}

<div id="container">

  {{! ! NAVBAR }}

  <header class="p-3 bg-light text-black">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
        >

          <img class="logo" src="/images/2-ghostwhite.jpeg" />

        </a>
        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        ></ul>

        <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input
              type="search"
              class="form-control form-control-dark"
              placeholder="Search..."
              aria-label="Search"
            />
          </form> -->

        {{#if userIsLoggedIn}}

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-end mb-md-0"
          >

          </ul>
          <div class="flex-shrink-0 dropdown">
            <a id="home-create-event" href="/create-event">
              <button type="button" class="btn btn-success">Create an Event</button>
            </a>
            <a
              href="/"
              class="d-block link-dark text-decoration-none"
              id="dropdownUser2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="/images/user.png"
                alt="mdo"
                width="45"
                height="45"
                class="rounded-circle"
              />
            </a>
            <ul
              class="dropdown-menu text-small shadow"
              aria-labelledby="dropdownUser2"
            >
              <li><a class="dropdown-item" href="/profile">Profile</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="/logout">Log out</a></li>
            </ul>
          </div>

        {{else}}
          <div class="text-end">
            <a href="/login">
              <button
                type="button"
                class="btn btn-outline-light me-2 btn-success"
              >
                Login
              </button>
            </a>
            <a href="/signup">
              <button type="button" class="btn btn-outline-dark">Sign up</button>
            </a>
          </div>

        {{/if}}
      </div>
    </div>
  </header>

  {{! HERO }}

  <div class="jumbotron jumbotron-fluid">
    <div id="hero" class="container">
      <div>
        <h1 class="display-4">Find
          <span id="hero-title">cryptocurrency events </span>
          around the globe.</h1>
        <br />
        <form id="search-bar" class="form-inline" action="/" method="GET">
          {{! <label>Search events:</label> }}
          <input
            class="form-control mr-sm-2"
            type="text"
            name="eventSearch"
            placeholder="Search by title, coin, location..."
            aria-label="Search"
          />
          <button
            class="btn btn-success my-2 my-sm-0"
            type="submit"
          >Search</button>
        </form>
        {{! <input type="text" name="eventSearch" />
          <button type="submit">Search</button> }}

      </div>
      <img class="img-fluid" src="/images/element.png" />
    </div>
  </div>

  <!-- ? HEADER AFTER LOGIN -->

  {{! <a href="/create-event">
    <button>Create a new event</button>
  </a> }}
  {{! 
  <a href="/logout">
    <button>Logout</button>
  </a> }}
  {{! 
  <a href="/signup">
    <button>Sign up</button>
  </a> }}
  {{! 
  <a href="/login">
    <button>Login</button>
  </a> }}

</div>

<div class="center-div">
  {{#each event}}
    <a href="events/{{this._id}}">
      <div class="card mb-2 mt-3 shadow-sm">
        <img src={{this.eventHeader}} class="card-img-top" alt="..." />
        <div class="card-body">
          <h1 class="card-title">{{this.title}}</h1>
          <h6>Coin: {{this.coin}}</h6>
          <p class="card-text" class="text-muted">
            {{this.description}}
          </p>
        </div>
      </div>
    </a>
  {{/each}}

</div>