<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success"
              type="submit"
            >Search</button>
          </form>
        </div>
      </div>
    </nav>
    
<h1>{{title}}</h1>
<p>Welcome CryptoCrowd</p>
<div id="container">
  {{#if userIsLoggedIn}}
    <a href="/create-event">
      <button>Create a new event</button>
    </a>

    <a href="/logout">
      <button>Logout</button>
    </a>
  {{else}}
    <a href="/signup">
      <button>Sign up</button>
    </a>

    <a href="/login">
      <button>Login</button>
    </a>
  {{/if}}

</div>

<div>
  {{#each event}}
    <a href="events/{{this._id}}">
    <div>
      <h1>{{this.title}}</h1>
      <img src={{this.eventHeader}} />
      <h2>Coin: {{this.coin}}</h2>
      <p>Description: {{this.description}}</p>
      <p>Attending: {{this.attendees}}</p>
      </a>
    </div>
  {{/each}}
</div>