<h1>{{title}}</h1>
<p>Welcome CryptoCrowd</p>
<div id="container">
  {{#if userIsLoggedIn}}
    <a href="/create-event">
      <button>Create a new event</button>
    </a>

    <a href="/logout">
      <button>Logout</button>
    </a>
  {{else}}
    <a href="/signup">
      <button>Sign up</button>
    </a>

    <a href="/login">
      <button>Login</button>
    </a>
  {{/if}}

</div>

<div>
  {{#each event}}
    <a href="/{{this._id}}">
    <div>
      <h1>{{this.title}}</h1>
      <img src={{this.img}} />
      <h2>Coin: {{this.coin}}</h2>
      <p>Description: {{this.description}}</p>
      <p>Attending: {{this.attendees}}</p>
      </a>
    </div>
  {{/each}}
</div>