{{!-- {{event}} --}}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img src="{{event.eventHeader}}" class="img-fluid" alt="Responsive image" />
    <h1 class="display-4">{{event.title}}</h1>
    <p class="lead">{{event.description}}</p>
  </div>
</div>

<h1>{{event.title}}</h1>
<h2>Coin: {{event.coin}}</h2>
<p>Description: {{event.description}}</p>
<p>Attending: {{event.attendees}}</p>

<form action="{{event.id}}" method="POST">
  <a href="/"><button class="btn btn-success">Attend</button></a>
</form>

{{#if isOrganizer}}
  <form action="delete/{{event.id}}" method="POST">
    <a href="delete/{{event.id}}"><button type="submit">Delete</button></a>
  </form>
  <a href="edit/{{event.id}}"><button type="submit">Edit</button></a>

{{/if}}

{{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
{{/if}}
{{!-- {{/}} --}}